$bg-color: #000028;
$aside-gradient: linear-gradient(270deg, #020c1b, #0a104b);
$body-bg: #000028;
$card-bg: #000038;
$hover-bg: #0a103b;
$main-color: #16ffe2;
$secondary-color: #10eed2;
$red-color: #ff6666;
$green-color: #66ff66;
$main-text-color: #10eed2;
$light-text-color: #ccddff;
$text-color: #99aacc;
$dark-text-color: #000000;
$shadow-color: #000000;
$gradient: #000020 fixed linear-gradient(#000014, #000028 70%, #0a103b);
$font: "Ubuntu",
sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.7rem;