@use "@styles/variables.scss";

.dropdown {
  align-items: center;
  background: variables.$gradient;
  border: 1px solid variables.$main-color;
  border-radius: 1rem;
  display: flex;
  position: relative;

  &::after {
    color: variables.$main-color;
    content: "\25BC";
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    transition: transform 0.2s;
  }

  &:focus-within {
    outline: 2px dashed variables.$main-color;
    outline-offset: 3px;

    &::after {
      transform: rotate(180deg);
    }
  }

  &__select {
    appearance: none;
    background: variables.$gradient;
    border: none;
    border-radius: 1rem;
    color: variables.$main-color;
    cursor: pointer;
    font: variables.$fz-md variables.$font;
    overflow-x: hidden;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
