@use "@styles/variables.scss";

.contact {
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);
  visibility: visible;
  will-change: opacity, transform;

  &__title {
    margin: 0 auto 2rem;
    text-align: center;
  }

  &__description {
    font-size: variables.$fz-md;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__fieldset {
    border: 5px solid rgba(variables.$main-color, 0.8);
    border-radius: 2rem;
    margin: 5rem auto 0;
    width: 100%;
    max-width: 50rem;

    &:hover,
    &:focus-within {
      border-color: variables.$main-color;

      legend {
        color: variables.$main-color;
      }
    }

    legend {
      font-size: variables.$fz-lg;
      font-weight: bold;
      color: rgba(variables.$main-color, 0.8);
      margin: 0 auto;
      padding: 0 1rem;
    }
  }

  &__form {
    align-items: baseline;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    width: 100%;

    &_input,
    &_textarea {
      background-color: transparent;
      border: 1px solid rgba(variables.$main-color, 0.8);
      border-radius: 0.5rem;
      caret-color: variables.$main-color;
      color: variables.$main-color;
      font-size: variables.$fz-md;
      font-weight: bold;
      margin-bottom: 1rem;
      outline: none;
      padding: 1rem;
      width: 100%;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border-color: variables.$main-color;
        outline: none;

        &::placeholder {
          color: variables.$main-color;
        }
      }

      &::placeholder {
        color: rgba(variables.$main-color, 0.8);
        font-size: variables.$fz-md;
        font-family: variables.$font;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px variables.$main-color inset;
        box-shadow: 0 0 0 30px variables.$main-color inset;
        font-size: variables.$fz-md;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    &_textarea {
      min-height: 10rem;
      resize: vertical;
    }

    &_submit {
      margin-top: 1rem;
    }

    &_error {
      align-items: center;
      color: variables.$red-color;
      display: flex;
      font-size: variables.$fz-sm;
      margin-bottom: 1rem;

      svg {
        fill: variables.$red-color;
        height: 2rem;
      }
    }

    &_info {
      align-items: center;
      color: variables.$main-color;
      display: flex;
      font-size: variables.$fz-sm;
      margin-bottom: 1rem;

      svg {
        fill: variables.$main-color;
        height: 2rem;
      }
    }

    &_success {
      align-items: center;
      color: variables.$green-color;
      display: flex;
      font-size: variables.$fz-sm;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;

      svg {
        fill: variables.$green-color;
        height: 2rem;
      }
    }
  }
}